html{
    overflow-x: hidden; 
    width:100vw;
}
.nav-wrapper{
    width: 100%;
    background-color:transparent;
    padding: 0;
    position: relative;
  
  
  }

  .toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}


   .nav-list
   {
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:10%;
    width: 100%;
    position: fixed;
    /* padding-top: 35px;
    padding-bottom: 50px; */
    transition: background-color ease-in 0.5s;
    background-color:#ffffff00 ;
    text-decoration: solid;
    z-index: 100;
    
    
  
    
  
   }
  
  
   .nav-list:hover{
    background-color: rgb(0, 0, 0);
    
  
   }
  
   .scrolled{
    background-color: #ffffff;
    /* border-bottom: solid 1px rgb(0, 0, 0); */
  
  
   }
   .nav-elt{
    padding-top: 4.5vh;
   }
  
   .nav-elt a{
    text-align: center;
    height: 100%;
    min-width: 30%;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    
  
  
    
   }
  
   .nav-elt a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
   }
   .nav-logo img{
    height: 92%;
    width: 100px;
    margin-top:1vh;
    
   }

   @media (max-width: 800px) {
    .nav-logo img{
        height: 92%;
        width: 8vw;
        position: absolute;
        top: 0.1rem;
        left: 1rem;
        height: 3rem;
            
       }
    .nav-list:hover{
        background-color: rgba(0, 0, 0, 0);
        
       }

    .toggle-button {
        display: flex;
    }

    .nav-elt a {
        display: none;
        width: 100%;
        padding: .5rem 1rem;
    }
    
    

    .nav-list{
        width: 100%; 
        flex-direction: column;
        gap:0;
        height: auto;
        transition: none;
        

    }

    .nav-elt{
        text-align: center;
        width: 100%;
        padding-top: 5px;

    }
    


    

    .nav-elt :has(> .active) , .nav-list:has(> .active) {
        display: flex;
        background-color: whitesmoke;
        text-align: center;
        color: red;

    }
    
    .scrolled{
        background-color: rgb(0, 0, 0,0);
        
    }

    .active.nav-logo{
        display: none;
        
    }
    a.active{
        display: flex;
    }
    a.active:hover{
        color:black;
    }
}
  
  

 a:hover{
    color: #e40505;
 }
 section{
    padding: 5% 10%;
 }
 

.main-home{
    height: 100vh;
    width: auto;
    background-image: url('assets/cataloguecover.png');
    background-position: center;
    background-position-y: 0%;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;

}
.main-text h5{
    color:rgb(127, 2, 2);
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 500;

}
.main-text h1{
    color: black;
    font-size:65px;
    text-transform:capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn :hover{
    background-color: #000;
    color: #fff;
}

  
  .letter {
    display: inline-block;
    animation: letterAnimation 10s ease-in-out infinite;
  }
  @keyframes letterAnimation {
    0% { opacity: 0; transform: translateY(-50px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
  }
  .word {
    display:inline-block;
    animation: letterAnimation 10s alternate;
  }
  @keyframes letterAnimation {
    0% { opacity: 0; transform: translateY(-10px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
  }

  #footer {
    box-sizing: border-box;
    min-height: 730px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color:rgb(4, 4, 4);
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.containerr{
    width: 60%;
    background: #dcdada;
    height: 330px;
    border-radius: 6px;
    padding: 10px 40px 20px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: -120px;
}
.containerr .contentt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerr .contentt .left-side{
    width: 25%;
    height: 80%;   
}
.contentt .left-side .details{
    margin: 14px;
    text-align: center;
}
.contentt .left-side .details i{
    font-size: 30px;
    color: #ec6868;
    margin-bottom: 10px;
}
.contentt .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.contentt .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
.contentt .left-side .details .text-one,
.contentt .left-side .details .text-two{
  font-size: 14px;
  color: #6d6d72;
}
.containerr .content .right-side {
    width: 75%;
    height: 100%; 
    margin-left: 75px;  
}
.contentt .right-side .topic-text {
    font-size: 30px;
    font-weight: 600;
    color:#ee5555 ;
    text-align:center;   
    font-family:"Playfair Display", serif; 
    text-transform:uppercase;
    letter-spacing:1px;
}

.right-side .input-box{
    height:50px ;
    width: 100%;
    margin: 12px 0;
}
.right-side .input-box input{
    height: 100%;
    width: 70%;
}


.right-side .button input[type="button"]{
    color: #fff;
    font-family: 18px;
    background-color: #ee5555;
    border-radius: 6px ;
    padding: 8px 16px;
    cursor: pointer;
}
.button input[type="button"]:hover{
    background-color: #bec4f7;
}
.last {
    padding:5px 0;
    color:#ffffff;
    position:absolute;
    bottom: 0px;
    min-height: 60px;
    width: 100%;
    background: #EC3C2C    ;
    padding: 20px 50px;
    
}
.last .social{
    text-align:center;
    padding-bottom:5px;
}
.last .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #fff;
    margin:0 10px;
    color:inherit;
    opacity:0.75;
}
.last .social > a:hover {
    opacity:1.5;
}

.last .copyright {
    margin-top:2px;
    text-align:center;
    font-size:15px;
    color:black;
    margin: bottom 10px;
}
.last .wave{
    position:absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(redwave.png);
    background-size: 1000px 80px;

}
.last.wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave_2 4s linear infinite;
}
.last .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave 4s linear infinite;
} 
.last .wave#wave3
{
    z-index: 1000;
    opacity: 0.3;
    bottom: 15px;
    animation: animateWave_2 3s linear infinite;
}
.last .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
} 
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px ;
    }
    100%
    {
        background-position-x: 0px ;
    }
}
@keyframes animateWave_2
{
    0%
    {
        background-position-x: 0px ;
    }
    100%
    {
        background-position-x: 1000px ;
    }
}
  
@media only screen and (max-width: 600px){
    

 section{
    padding: 5% 10%;
 }
 

.main-home{
    max-height: 60vh;
    width: auto;
    background-image: url('assets/cataloguecover.png');
    background-position: center;
    background-position-y: 0%;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;

}
.main-text h5{
    color:rgb(127, 2, 2);
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 500;

}
.main-text h1{
    color: black;
    font-size: 6vw;
    text-transform:capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn :hover{
    background-color: #000;
    color: #fff;
}















}

  