*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smoth;
    font-family: "Jost", sans-serif;
    list-style: none;




}



.header{  position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   


    
    }
.navbar a{
    font-size: medium;
    color: rgb(255, 255, 255);
    text-decoration:dotted;
    font-weight: 500;
    margin-left: 35px;
}
.logo{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: dotted;
    font-weight: 700;

}


 a:hover{
    color: #e40505;
 }
 section{
    padding: 5% 10%;
 }
 

.main-home{

    height: 100vh;
    width: 200vh;
    background-image: url('https://www.freenduro.com/images/stories/wallpaper/wall-2021/fond-ecran-FREENDURO-2021-14.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;

}
.main-text h5{
    color:rgb(127, 2, 2);
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 500;

}
.main-text h1{
    color: black;
    font-size:65px;
    text-transform:capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn :hover{
    background-color: #000;
    color: #fff;
}

  
  .letter {
    display: inline-block;
    animation: letterAnimation 10s ease-in-out infinite;
  }
  @keyframes letterAnimation {
    0% { opacity: 0; transform: translateY(-50px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
  }
  .word {
    display:inline-block;
    animation: letterAnimation 10s alternate;
  }
  @keyframes letterAnimation {
    0% { opacity: 0; transform: translateY(-10px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
  }
  
  